@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {
  --font-inter: "Inter";
  --font-grace: "Covered By Your Grace", cursive;
  --color-btnBgOrange: rgba(255, 109, 44, 1);
  --color-pColor: rgba(88, 89, 93, 1);
  --color-h3Light: rgba(46, 47, 53, 0.4);
  --color-h3Dark: rgba(46, 47, 53, 1);
  --color-offBlack: rgba(46, 47, 53, 1);
}

body {
  font-family: Inter, sans-serif;
}


.btnStyle {
  border: 2px solid #2E2F35;
  box-shadow: 3px 3px 0px #2E2F35;
  border-radius: 12px;
}

/* section 8 left */
.sec8-left {
  display: flex;
  align-items: center;
}

/* Slider */
.slider {
  animation: slide-left 25s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* hamburger */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    right: 0;
}

.hamburger-top,
.hamburger-center,
.hamburger-bottom {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    gap: 5px;
}

.hamburger-center {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}